
.banner {
    background-image: url(../../public/images/cookies.jpg);
    background-position: center;
    background-attachment: fixed;
    height: 60vh;
    filter: brightness(70%);
}

p{
    color: var(--color-reverse);
    font-family: 'Dancing Script', cursive;
}

.filtersvg{
    width: 30%;
}

.dropdown-item, .dropdown-menu{
    background-color: var(--color-g-three);
}

.dropdown-item label{
    font-size: 1.1rem;
    color: var(--color-reverse);
}

.dropdown-item:hover{
    background-color: var(--color-g-five);
}

.dropdown-item:hover label{
    color: var(--color-reverse);
}

div.dropdown button.btn-drop.btn.dropdown-toggle.show{
    border: solid 2px var(--color-reverse);
    color: var(--color-reverse);
}

.dropdown-menu{
    box-shadow: 2px 2px 5px var(--color-g-one);
}

input{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

h1 {
    color: var(--color-reverse);
    font-weight: bold;
    display: block;
    margin: 0 auto;
    font-family: 'Dancing Script', cursive;
}

.box{
    background-color: var(--color-g-five);
    color: var(--color-reverse);
    text-align: center;
    padding-bottom: 10px;
    transition: transform 0.3s ;
    padding: 10px 15px 5px 15px;
}

.box:hover{
    transform: scale(110%);
    transition: transform 0.3s ;
    cursor: pointer;
}

.box p{
    padding: 0px 5px;
}

.box>img{
    width: 30%;
    display: block;
    margin: 20px auto;
}

.box td{
    width: 200px;
    text-align: left;
    padding: 5px 0 10px 20px;
}

.ikon{
    width: 25px;
    margin-right: 10px;
}

.boxes{
    align-items: center;
}

@media (min-width: 1200px) {
    section.col-10 {
        margin-bottom: 3rem !important;
    }
}


section a {
    color: white;
    text-decoration: none;
}

section a:hover {
    color: white;
}

@media only screen and (max-width: 720px) {
    .ikon{
        width: 18px;
    }
}