
.banner {
    background-image: url(../../public/images/cookies.jpg);
    background-position: center;
    background-attachment: fixed;
    height: 60vh;
    filter: brightness(70%);
}

h1 {
    color: white;
    font-weight: bold;
    display: block;
    margin: 0 auto;
}

.box{
    background-color: rgb(39, 39, 39);
    text-align: center;
    padding-bottom: 10px;
    transition: transform 0.3s ;
    padding-top: 10px;
}

.box:hover{
    transform: scale(110%);
    transition: transform 0.3s ;
    cursor: pointer;
}

.box p{
    padding: 0px 5px;
}

.box>img{
    width: 30%;
    display: block;
    margin: 20px auto;
}

.box td{
    width: 200px;
    text-align: left;
    padding: 5px 0 10px 20px;
}

.ikon{
    width: 25px;
    margin-right: 10px;
}

.boxes{
    align-items: center;
}

section a {
    color: white;
    text-decoration: none;
}

section a:hover {
    color: white;
}

@media only screen and (max-width: 720px) {
    .ikon{
        width: 18px;
    }
}