main {
    min-height: 100%;
    display: grid;
    grid-template-columns: .75fr;
    grid-template-rows: min-content;
    justify-content: center;
    padding: .5rem 0;
    gap: .5rem 0;
}

section#hero {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;
}

.navbar {
    background-color: #2a2a2a !important;
    height: 5rem;
}

#navbarNav > ul > li > a, body > header > nav > div > a {
    font-weight: bolder;
    color: #b4b4bc !important;
}

section#hero table {
    color: #b4b4bc;
    border: #2a2a2a solid 1px;
    background-color: #212121c4;
    max-width: 500px;
    width: 100%;
    table-layout: fixed;
    margin: 0 auto;
}

section#hero th {
    background-color: #212121;
    border-bottom: #2a2a2a solid 1px;
}

section#hero td,
section#hero th {
    border-collapse: collapse;
    padding: 5px 15px;
    text-align: center;
}

section#hero img {
    max-width: 650px;
    width: 100%;
}

section#hero h1 {
    margin-bottom: 0;
}

section#ingredients {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

section#ingredients div.top {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    align-items: center;
    gap: .5rem;
    border-top: 1px solid black;
    padding: .5rem 0;
}

section#ingredients div.top div.minus, section#ingredients div.top div.plus {
    width: 1.25rem;
    height: 4px;
    background-color: black;
    border-radius: 15px;
    position: relative;
}

section#ingredients div.top div.plus::after {
    content: "";
    width: 4px;
    height: 1.25rem;
    background-color: black;
    position: absolute;
    top: calc(-.625rem + 2px);
    left: calc(.625rem - 2px);
    border-radius: 15px;
}

section#ingredients div.top input[type=number] {
    -moz-appearance: textfield;
    font-size: 1rem;
    width: calc(3ch + 2px + .4rem);
    padding: .2rem;
    border: 1px solid black;
}

section#ingredients div.top input::-webkit-outer-spin-button, section#ingredients div.top input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

section#ingredients div.top p {
    margin-bottom: 0;
}

section#ingredients div.top h2 {
    margin-bottom: 0;
}