/* főoldal */
.chickenWings{
    background-image: url(../../public/images/sweet.jpg);
    background-position: center;
    position: absolute;
    top: 0;
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    height: 80%;
}

/* recpept alap */

.navbar{
    background-color: #2a2a2a;
    height: 5rem;
}
#navbarNav > ul > li > a, body > header > nav > div > a{
    font-weight: bolder;
    color: #b4b4bc !important; 
}

footer{
    background-color: #2a2a2a;
    height: 7rem;
    text-align: center;
    font-weight: bolder;
    color: #b4b4bc ;
}
footer a {
    color: #b4b4bc ;
}